app:
  databases:
    main:
      host: '127.0.0.1'
      port: 5432
      user: 'eventnix'
      password: 'eventnix'
      database: 'eventnix'

  access:
    facebook_token: ''
    facebook_secret: ''
    google_token: ''
    google_secret: ''

logging:
  version: 1
  disable_existing_loggers: False
  handlers:
    console:
      class: 'logging.StreamHandler'
      level: 'INFO'
      formatter: 'detailed'
      stream: 'ext://sys.stdout'

    file:
      class: 'logging.handlers.RotatingFileHandler'
      level: 'INFO'
      formatter: 'detailed'
      filename: '/tmp/junk.log'
      mode: 'a'
      maxBytes: 10485760
      backupCount: 5

  formatters:
    detailed:
      format: '%(asctime)s %(module)-17s line:%(lineno)-4d %(levelname)-8s %(message)s'
    email:
      format: 'Timestamp: %(asctime)s\nModule: %(module)s\nLine: %(lineno)d\nMessage: %(message)s'

  loggers:
    extensive:
      level: 'DEBUG'
      handlers:
        - 'file'
    root:
      level: 'INFO'
      handlers:
        - 'console'
